:root{
    --primary-font:"Roboto",
        sans-serif;
    --secondary-font:"Raleway",
        sans-serif;
    --web-cl:#4D5AE5;
    --ocean-cl:#404BBF;
    --navy-blue-cl:#2E2F42;
    --green-cl:#31D0AA;
    --slate-cl:#8F8E99;
    --corn-cl:#E7E9FC;
    --clud-cl:#F4F4FD;
    --nb-mpdal-cl:#2E2F49;
    --white-cl:#FFFFFF;
    --diary-cl:#FCFCFC;
    --dark-cl:#111111;
}
body{
    font-family:"Roboto",sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}
.list{
    list-style:none;
}
.link{
    text-decoration: none;
}
.logo{
    color: #4D5AE5;
        font-size: 18px;
        font-family:"Raleway", sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.contct:hover{
    color: #404bbf;
}
.contct:focus{
    color: #404bbf;
}
.span{
color:#2E2F42;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.hero{
background: var(--navyblue, #2E2F42);   
}
.stud {
color: var(--navyblue, #2E2F42);
    /* Body Medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 24px 0;
}
.stud:hover{
    color: #404bbf;
}
.stud:focus{
    color: #404bbf;
}
.adress{
    font-style: normal;
   
}
.adrhead{
    display: flex;
    gap: 40px;
}
.contct{
    font-size: 16px;
        font-family:var(--secondary-font);
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #434455;
        text-decoration: none;
}
.header{
    color: var(--white, #FFF);
        text-align: center;
        /* Header 1 */
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        border-bottom: 1px solid #e7e9fc;
}
.nav{
    display: flex;
    align-items: center;
}
.heddiv{
    display: flex;

}
.containe{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.btnhero{
        background: var(--iris, #4D5AE5);
    
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
}
.btnhero:hover{
    background-color: #404BBF;
    cursor: pointer;
}
.btnhero:focus{
    background-color: #404BBF;
}
.benefits{
    color: var(--navyblue, #2E2F42);
        /* Header 3 */
        font-size: 20px;
  
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
.strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragr{
    color: var(--slate, #434455);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.wawd{
    color: var(--navyblue, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-size: 36px;

        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
           
.imgfp{
    border: 1px solid var(--cornflower, #E7E9FC);
        background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.teamsection{
    background-color: var(--cloud, #F4F4FD);
}
.logo{
    color: var(--iris, #4D5AE5);
        font-size: 18px;
        font-family:"Raleway",sans-serif;
        font-weight: 800;
         line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-right: 76px;
}
.menu{
    display: flex;
    gap: 40px;
}
.studio{
    color: var(--cloud, #F4F4FD);
        font-size: 18px;
        font-family:var(--secondary-font);
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.name{
        background: var(--white, #FFF);
       
}
.skill{

}
.footer{
        background: var(--navyblue, #2E2F42);
}
.weare{
        background: var(--cloud, #F4F4FD);
}
.btnport{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color:#F4F4FD;
     cursor: pointer;
}
.btnport:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.btnport:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    }
.portfolio-list-item-link-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-list-item-link-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.pfooter{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
.ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team{
    font-weight: 500;
    background-color: #FFFFFF;
}
.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.skill{
    line-height: 1.5;
    letter-spacing: 0.02em;
}