:root{
    --primary-font:"Roboto",
        sans-serif;
    --secondary-font:"Raleway",
        sans-serif;
    --web-cl:#4D5AE5;
    --ocean-cl:#404BBF;
    --navy-blue-cl:#2E2F42;
    --green-cl:#31D0AA;
    --slate-cl:#8F8E99;
    --corn-cl:#E7E9FC;
    --clud-cl:#F4F4FD;
    --nb-mpdal-cl:#2E2F49;
    --white-cl:#FFFFFF;
    --diary-cl:#FCFCFC;
    --dark-cl:#111111;
}
body{
    font-family:"Roboto",sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}
.list{
    list-style:none;
}
.link{
    text-decoration: none;
}
.btn,button{
    font-family: inherit;
    cursor: pointer;
}
.logo{ 
    font-family:"Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.studio link{
        font-family:"Raleway", sans-serif;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.adress link{
    font-style: normal;

}
.contact .list{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    :hover:#404bbf;
    :focus:#404bbf;
}
  .hero{
    background-color: #2e2f42;
  }
  .header{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .benef{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .btn{
    font-family:"Roboto",sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    hover:#404BBF;
    fouus:#404BBF;
  }
.strtg.punct.dilig.tecno{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.paragr{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.bankap{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.prgprtf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.allbtn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.wawd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.teamsection{
    background-color: #F4F4FD;
}
.ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.teamlist{
    background-color: #FFFFFF;
}
.mark.tom.camila{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.desing.marketing.frdev.product{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.styd{
letter-spacing: 0.02em;
color: #2e2f42;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}
.footerprtf{
    background-color: #2e2f42;
}
.studio{
    color: #f4f4fd;
}